html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  display: flex;
  flex-direction: column;
}

* {
  font-size: 16px;
  font-family: Roboto;
}

.info_block {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px !important;
}

.header_block {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 85px;
  height: 85px;
}

.header_logo {
  width: fit-content;
}

.menu {
  display: inline-block;
  height: fit-content;
  margin-right: 10px;
  margin: auto;
}

.header_nav {
  text-decoration: none !important;
  margin-left: 40px;
  background-color: #fff;
  color: black !important;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
}
a {
  text-decoration: none !important;
  color: black !important;
  text-transform: uppercase;
  font-weight: 400;
}

.main_block {
  height: 1162px;
  margin-top: 10px;
  background: url("https://firebasestorage.googleapis.com/v0/b/vfsteel-ada5d.appspot.com/o/service%2Fmainpage.jpg?alt=media&token=54c08dc0-0bb2-4b77-aa88-185f24cbc869")
    center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.main_text {
  max-width: 600px;
  margin-top: 500px;
  color: white;
  font-size: 55px;
}

.main_subtext {
  color: white;
  margin-top: 290px;
  max-width: 415px;
  width: fit-content;
  font-weight: 400;
  line-height: 1.2;
  font-size: 32px;
}
/* CAROUSEL */
.block {
  padding: 20px 0 10px 0;
}

.block_first {
  display: flex;
  justify-content: space-around;
}

.photo_row > div{
  box-shadow: 1px 1px 2px #e6e6e6;
}

.photo_row > div .mask, .photo_row > div .content {
  width: 360px;
  height: 480px;
  overflow: hidden;
  top: 0;
  left: 0;
}

.photo_row > div h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}

.photo_row > div p {
  font-size: 20px;
  position: relative;
  color: #fff;
  padding: 50px 20px 50px;
  text-align: center;
}

.photo_row > div a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff !important;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
}

.photo_row > div a.info:hover {
  box-shadow: 0 0 5px #000;
}

/* .view_first img {
  transition: all 0.2s linear;
} */

.photo_row > div .mask {
  opacity: 0;
  background-color: rgba(219, 127, 8, 0.7) !important;
  transition: all 0.4s ease-in-out;
}

.photo_row > div h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.photo_row > div p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.photo_row > div a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

/* .view_first:hover img {
  transform: scale(1.1);
} */

.photo_row > div:hover .mask {
  opacity: 1;
}

.photo_row > div:hover h2, .photo_row > div:hover p, .photo_row > div:hover a.info {
  opacity: 1;
  cursor: default;

  transform: translateY(0px);
}

.photo_row > div:hover p {
  transition-delay: 0.1s;
}

.photo_row > div:hover a.info {
  transition-delay: 0.2s;
  cursor: pointer !important;
}

/* 
  margin: 50px auto;
  width: 450px;
} */

/* .carousel-item img {
  height: 600px;
} */

.main_CONTACTS {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.CONTACTS {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.addresses {
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  max-width: 230px;
  line-height: 1.2;
}

.tel {
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  max-width: 230px;
  line-height: 1.2;
  margin-left: 75px;
}

.number {
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  max-width: 230px;
  line-height: 1.2;
}

.divider {
  margin-top: 30px;
  background-color: black;
  height: 2px;
}

.Pomoc {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.1;
  margin-top: 25px;
}

.pomoc_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.pomoc_info_1 {
  height: 150px;
  text-align: left;
  font-weight: 400;
  font-size: 1.1rem;
}

.pomoc_info_2 {
  height: 150px;
  text-align: left;
  font-weight: 400;
  font-size: 1.1rem;
  margin-left: 150px;
}

.pomoc_info_3 {
  height: 150px;
  text-align: left;
  font-weight: 400;
  font-size: 1.1rem;
}

.main_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  /* margin-top: 80px; */
  color: white;
  background-color: #333333;
  height: 61px;
}

#footer_company {
  color: #478ac9 !important;
  padding: 0 !important;
}

/* knopka */

.collapse_toggle {
  margin-left: auto;
  margin-right: auto;
}

.btn.btn-primary {
  font-weight: 700;
  text-decoration: none;
  border-radius: 20px;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: auto;
  margin-top: 30px;
  background-color: #c0c0c0;
  border: black;
  text-transform: uppercase;
  transition: all 0.2s linear;
  /* margin: 30px 0px -5px 0px; */
}

.btn-primary:hover{
  background-color: rgba(219, 127, 8, 0.7) !important;
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
  background-color: rgba(219, 127, 8, 0.7) !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.card.card-body {
  text-align: center;
}

.card_card-body_1 {
  text-align: start;
}

#collapseExample {
  margin-top: 16px;
}

.main_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  /* margin-top: 80px; */
  color: white;
  background-color: #333333;
  height: 61px;
}

.photo_row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  flex-direction: row;
}

.photo_row > div {
  width: 360px;
  height: 480px;
  border: 0.5rem solid rgb(54, 54, 54);
  border-radius: 5px;
  box-sizing: content-box;
}

.photo_row > div > div {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: black !important;
  width: 360px;
  height: 480px;
  text-align: center;
}

.carousel-control-next,
.carousel-control-prev {
  width: 3% !important;
  min-width: 24px !important;
  background-color: black !important;
}

.carousel-inner {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.preview {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
}

.preview .carousel-inner {
  padding: 50px;
}

.preview_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

